<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxau.sms.stuBasicInfo.dao">
	<resultMap type="StuBasicInfoVO" id="StuBasicInfoVOResultMap">
		<id property="studentNo" column="studentNo"/>
		<association property="stuBasicInfo" javaType="StuBasicInfo">
				<id property="studentNo" column="studentNo"/>
				<result property="studentName" column="studentName" />
				<result property="birthday" column="birthday" />
				<result property="className" column="className" />
				<result property="major" column="major" />
				<result property="college" column="college" />
				<result property="sex" column="sex" />
				<result property="nation" column="nation" />
				<result property="hometown" column="hometown" />
				<result property="political" column="political" />
				<result property="idCard" column="idCard" />
				<result property="telephone" column="telephone" />
				<result property="email" column="email" />
				<result property="emailOnly" column="emailOnly" />
				<result property="family" column="family" />
				<result property="address" column="address" />
				<result property="fphone" column="fphone" />
				<result property="photo" column="photo" />
				<result property="eduBackground" column="eduBackground" />
				<result property="englishlevel" column="englishlevel" />
				<result property="bankCard" column="bankCard" />
				<result property="exameState" column="exameState" />
				<result property="remarks" column="remarks" />
				<result property="stuState" column="stuState" />		
		</association>
	</resultMap>
	
	<!--一般查询  -->
	<select id="query" parameterType="map" resultMap="StuBasicInfoVOResultMap">
		select * from stu_basic_info where 1=1
		    <if test="college != null">
        		and college=#{college}
        	</if>
        	<if test="major != null">
        		and major=#{major}
        	</if>
        	<if test="className != null">
        		and className=#{className}
        	</if>
        	<if test="stuNoOrName != null">
        		and (studentName=#{stuNoOrName} or studentNo=#{stuNoOrName})
        	</if>
	</select>
	
	<!--高级查询  -->
	<select id="advancedQuery" parameterType="map" resultMap="StuBasicInfoVOResultMap">
		select * from stu_basic_info where 1=1
		    <if test="hometomn != null">
        		and hometomn=#{hometomn}
        	</if>
        	<if test="eduBackground != null">
        		and eduBackground=#{eduBackground}
        	</if>
        	<if test="exameState != null">
        		and exameState=#{exameState}
        	</if>
        	<if test="idCard != null">
        		and idCard=#{idCard}
        	</if>
        	<if test="major != null">
        		and major=#{major}
        	</if>
        	<if test="nation != null">
        		and nation=#{nation}
        	</if>
        	<if test="political != null">
        		and political=#{political}
        	</if>
        	<if test="sex != null">
        		and sex=#{sex}
        	</if>
        	<if test="englishlevel != null">
        		and englishlevel=#{englishlevel}
        	</if>
        	<if test="bankCard != null">
        		and bankCard=#{bankCard}
        	</if>
        	<if test="stuState != null">
        		and stuState=#{stuState}
        	</if>
        	order by
			<foreach item="item" index="index" collection="order"  
            	open="" separator="," close="">
            	#{item}
            </foreach>  
	</select>	
	
	
	<!--增加  -->
	<insert id="add" parameterType="StuBasicInfo">
		insert into stu_basic_info(studentNo,studentName,birthday,className,major,college,sex,nation,hometown,political,idCard)
			values(#{studentNo},#{studentName},#{birthday},#{className},#{major},#{college},#{sex},#{nation},#{hometown},#{political},#{idCard});
	</insert>
	
	<!--批量增加  -->
	<insert id="batchAdd" parameterType="java.util.List">
		insert into stu_basic_info(studentNo,studentName,birthday,className,major,college,sex,nation,hometown,political,idCard)
		values
		<foreach collection="list" item="item" index="index" separator="," >  
        	(#{item.studentNo},#{item.studentName},#{item.birthday},#{item.className},#{item.major},#{item.college},#{item.sex},#{item.nation},#{item.hometown},#{item.political},#{item.idCard}) 
    	</foreach>
	</insert>
	
	<!--更新  -->
	<update id="update" parameterType="StuBasicInfo">
		update stu_basic_info 
		<set>
			<if test="studentName != null">
				studentName = #{studentName},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="className != null">
				className = #{className},
			</if>
			<if test="major != null">
				major = #{major},
			</if>
			<if test="college != null">
				college = #{college},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="nation != null">
				nation = #{nation},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="political != null">
				political = #{political},
			</if>
			<if test="idCard != null">
				idCard = #{idCard},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="emailOnly != null">
				emailOnly = #{emailOnly},
			</if>
			<if test="family != null">
				family = #{family},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="fphone != null">
				fphone = #{fphone},
			</if>
			<if test="photo != null">
				photo = #{photo},
			</if>
			<if test="eduBackground != null">
				eduBackground = #{eduBackground},
			</if>
			<if test="englishlevel != null">
				englishlevel = #{englishlevel},
			</if>
			<if test="bankCard != null">
				bankCard = #{bankCard}
			</if>
		</set>
		where studentNo = #{studentNo}
	</update>
	
	<!--批量更新  -->
	<update id="batchUpdate" parameterType="java.util.List">
		update stu_basic_info 
		<set>
			<if test="studentName != null">
				studentName = #{studentName},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="className != null">
				className = #{className},
			</if>
			<if test="major != null">
				major = #{major},
			</if>
			<if test="college != null">
				college = #{college},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="nation != null">
				nation = #{nation},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="political != null">
				political = #{political},
			</if>
			<if test="idCard != null">
				idCard = #{idCard},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="emailOnly != null">
				emailOnly = #{emailOnly},
			</if>
			<if test="family != null">
				family = #{family},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="fphone != null">
				fphone = #{fphone},
			</if>
			<if test="photo != null">
				photo = #{photo},
			</if>
			<if test="eduBackground != null">
				eduBackground = #{eduBackground},
			</if>
			<if test="englishlevel != null">
				englishlevel = #{englishlevel},
			</if>
			<if test="bankCard != null">
				bankCard = #{bankCard}
			</if>
		</set>
		where studentNo = #{studentNo}
	</update>
	
	
	<update id="delete" parameterType="StuBasicInfo">
		update stu_basic_info
		<set>
			<if test="stuState != null">
				stuState = #{stuState},
			</if>
			<if test="remarks != null">
				remarks = #{remarks}
			</if>
		</set>
		where studentNo=#{studentNo}
	</update>
</mapper>

