<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.chenjiang.activityManage.dao.ActInfoDao">
	<resultMap type="ActInfoVO" id="ActivityInfoVOResultMap">
		<id property="id" column="actNo"/>
		<association property="actInfo" javaType="ActInfo">
			<id property="actNo" column="actNo"/>
			<result property="activityName" column="activityName"/>
			<result property="activityType" column="activityType"/>
			<result property="activityLevel" column="activityLevel"/>
			<result property="sponsor" column="sponsor"/>
			<result property="organize" column="organize"/>
			<result property="studentName" column="studentName"/>
			<result property="createTime" column="createTime"/>
			<result property="info" column="info"/>
			<result property="exameState" column="exameState"/>
			<result property="remarks" column="remarks"/>
			<result property="actState" column="actState"/>
			<association property="tecBasicInfo" column="teacherNo" select="selectTecBasicInfo" javaType="TecBasicInfo"></association>
		</association>
	</resultMap>
	
	<select id="selectTecBasicInfo" resultType="TecBasicInfo" parameterType="TecBasicInfo">
		select * from tec_basic_info where teacherNo = #{teacherNo}
	</select>		

	<select id="query" parameterType="map" resultMap="ActivityInfoVOResultMap">
		select * from act_info where 1=1
		<if test="organize != null">
			and organize = #{organize}
		</if>
		<if test="actNoOrName != null">
			and (actNo=#{actNoOrName} or activityName={actNoOrName})
		</if>
	</select>	
	
	<insert id="add" parameterType="ActInfo" useGeneratedKeys="true" keyProperty="actNo">
		insert into act_info(actNo,activityName,activityType,activityLevel,sponsor,organize,teacherNo,studentName,createTime,info,exameState,remarks,actState)
			values(#{actNo},#{activityName},#{activityType},#{activityLevel},#{sponsor},#{organize},#{tecBasicInfo.teacherNo},#{studentName},curdate(),#{info},#{exameState},#{remarks},#{actState});
	</insert>
	<update id="verify" parameterType="ActInfo">
		update act_info
		<set>
			<if test="exameState != null">
				exameState = #{exameState},
			</if>
			<if test="remarks != null">
				remarks = #{remarks}
			</if>
		</set>
		where actNo = #{actNo}
	</update>
	<update id="edit" parameterType="ActInfo">
		update act_info 
		<set>
			<if test="activityName != null">
				activityName = #{activityName},
			</if>
			<if test="activityName != null">
				activityType = #{activityType},
			</if>
			<if test="activityLevel != null">
				activityLevel = #{activityLevel},
			</if>
			<if test="tecBasicInfo != null">
				teacherNo = #{tecBasicInfo.teacherNo},
			</if>
			<if test="studentName != null">
				studentName = #{studentName},
			</if>
			<if test="info != null">
				info = #{info}
			</if>
		</set>
		where actNo = #{actNo}
	</update>
	
	<update id="delete" parameterType="ActInfo">
		update act_info
		<set>
			<if test="actState != null">
				actState = #{actState},
			</if>
			<if test="remarks != null">
				remarks = #{remarks}
			</if>
		</set>
		where actNo=#{actNo}
	</update>
</mapper>

