<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxau.sms.util.chenjiang.roleVerify">
	<update id="verify" parameterType="ModuleVerifyAndData">
			update ${moduleVerify.table} set
			${moduleVerify.verify} = #{exameState},
			${moduleVerify.remarks} = #{remark}
			where ${moduleVerify.id} = #{id};
	</update>
	
	<select id="getVerifyNums" parameterType="map" statementType="CALLABLE" resultType="java.util.Map">
	{CALL ${procedure}(#{eState,mode=IN,jdbcType=VARCHAR},#{nums,mode=OUT,jdbcType=INTEGER}) }  
	</select>
	
</mapper>

