<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
<settings>
<!-- 配置了日志为log4j -->
<setting name="logImpl" value="LOG4J"/>
<!-- 配置了可使用二级缓存 -->
<setting name="cacheEnabled" value="true"/>
<!--  设置懒加载-->
<setting name="lazyLoadingEnabled" value="true"/>
<setting name="aggressiveLazyLoading" value="false"/>
</settings>
    <typeAliases>  
		<typeAlias alias="StuBasicInfo" type = "jxau.sms.chenjiang.po.StuBasicInfo"/>
		<typeAlias alias="StuBasicInfoVO" type = "jxau.sms.chenjiang.vo.StuBasicInfoVO"/>
		<typeAlias alias="ActInfo" type = "jxau.sms.chenjiang.po.ActInfo"/>
		<typeAlias alias="ActInfoVO" type = "jxau.sms.chenjiang.vo.ActInfoVO"/>
		<typeAlias alias="ActHold" type = "jxau.sms.chenjiang.po.ActHold"/>
		<typeAlias alias="TecBasicInfo" type = "jxau.sms.lyx.TeacherInfo.po.TecBasicInfo"/>
		<typeAlias alias="ActHoldVO" type = "jxau.sms.chenjiang.vo.ActHoldVO"/>		    
    </typeAliases>  
     
     <mappers>  
		<mapper resource="jxau/sms/chenjiang/stuBasicInfo/dao/StuBasicInfoMapper.xml"/>
        <mapper resource="jxau/sms/chenjiang/activityManage/dao/ActInfoMapper.xml"/>
        <mapper resource="jxau/sms/chenjiang/activityManage/dao/ActHoldMapper.xml"/>
        <mapper resource="jxau/sms/anping/student/dao/studentMapper.xml"/>
    </mappers>
</configuration>