<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxau.sms.util.chenjiang.moduleStateUpdate">
	 
	<update id="stateUpdate" parameterType="map">
		update ${sUpdate.table} 
		<set>
				${sUpdate.state}=#{moduleState}
			<if test="columnValue != null">
		 		<foreach collection="columnValue" index="index" item="cvIndex" separator="," close=",">
					${cvIndex.column} = #{cvIndex.value}
				</foreach>				
			</if>
			<if test="sUpdate.remarks != null">
			    ,${sUpdate.remarks} = #{remarks}
			</if>       
			where ${sUpdate.id} in
			<foreach collection="ids" index="index" item="idIndex" open="(" separator="," close=")">
				#{idIndex}
			</foreach>
		</set>
	</update>
</mapper>

